.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
}

#dark{
  background-image: url("./assets/mobile/bg-image-nighttime.jpg");
}

#light{
  background-image: url("./assets/mobile/bg-image-daytime.jpg");
}